#card-list {
    /* border:1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    margin:auto;

    align-items: center;
    justify-content: center;
    width: 70vw;
    margin-bottom: 100px;
}